.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal {
    background-color: #fff;
    padding: 30px 70px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .modal h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #16f73b;
    width: 100%;
  }
  
  .modal p {
    margin-bottom: 20px;
  }
  
  .btn_fechar {
    padding: 10px 20px;
    background-color: #16f73b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
  }
  
  .btn-fechar:hover {
    background-color: #2dda49;
  }
  textarea{
    gap: 25px;
    
    padding-left: 15px;
    width: 100%;
    min-height: 55px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #695346;
    border: solid 1px #D4D7E3;
    background-color: #F7FBFF;
    margin-bottom: 8%;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;

}