
.container {
    width: 85%;
    height: 87vh;
    gap: 10px;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    padding: 2%;
    gap: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: hidden;
}


.body {
    width: 100%;
    height: 100vh;
    background-color: #2B1B12;
}


.container_esquerdo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}


.container_direito {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container_direito img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}


@media (max-width: 768px) {
    .container {
    gap: 10px;

    display: flex;
    padding: 0%;
    gap: 5%;
 
}
    .container_direito {
        display: none; /* Oculta a imagem em telas pequenas */
    }

    .container_esquerdo {
        width: 100%; /* O lado esquerdo ocupa toda a largura em dispositivos móveis */
        gap: 20px;
    }
}


form {
    width: 65%;   
    margin: 0 auto;
}
form h1{
      font-weight: 700 !important;
}


.titulo {
    margin-bottom: 15%;
}

a {
    color: rgb(33, 102, 230);
    text-decoration: underline;
    display: flex;
    justify-content: right;
    margin-bottom: 25px;
}

.subTitulo {
    font-size: 14px;
    font-weight: 600;
    color: #695346;
    margin-bottom: 10%;
}
