.btn{
    width: 140px;
    font-size: 14px;
    height: 48px;
    background-color: #2B1B12;
    border-radius: 8px;
    color: white;
    transition: 500ms;
    font-weight: 600 !important;
    border: none;
}
.otherBtn{
    width: 140px;
    font-size: 14px;
    height: 48px;
    background-color: #2B1B12;
    border-radius: 8px;
    color: white;
    transition: 500ms;
    font-weight: 600 !important;
    border: none;
    padding: 0 25px 0;
}
.btn_border{
    width: 140px;
    font-size: 14px;
    height: 48px;
    background-color: transparent;
    border-radius: 8px;
    color: #2B1B12;
    transition: 500ms;
    font-weight: 600 !important;
    border: solid #2B1B12 2px;

}
.btn-pequeno{
    width: 140px;
    font-size: 14px;
    height: 40px;
    background-color: #2B1B12;
    border-radius: 8px;
    color: white;
    transition: 500ms;
    font-weight: 600 ;
    border: none;
}
.btn_grande{
    font-size: 16px;
    height: 48px;
    background-color: #2B1B12;
    border-radius: 8px;
    color: white;
    transition: 500ms;
    font-weight: 600 !important;
    border: none;
    width: 100%;
}
.btn_border:hover{
    width: 160px;
    background-color: transparent !important;
}
.btn:hover{
        background-color: #3f3024;
}
.btn_grande:hover ,.btn-pequeno:hover {
    background-color: #3f3024;
    cursor: pointer;
}